<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        
        ">

    <!--注册学生对象-->
    <bean id="student" class="复习巩固.spring_Ioc3.Student2">
        <property name="name" value="王大"/>
        <property name="age" value="23"/>
        <property name="birthday" ref="date"/>
    </bean>

    <!--注册日期对象-->
    <bean id="date" class="java.util.Date"/>

</beans>